<!DOCTYPE html>
<html lang="en">

<head>
    <script>
    let a;
    let date;
    let time;
    const options = { weekday: 'long',year: 'numeric',month:'long',day:'numeric'};
    setInterval(() => {
    a= new Date();
    date= a.toLocaleDateString(undefined,options);
    time = a.getHours() + ':' + a.getMinutes() + ':' + a.getSeconds();
    document.getElementById('time').innerHTML= time + "<br>" + date;
    }, 1000);
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mainpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Main UI</title>
</head>

<body>
    <div class="container">
        <div class="Nav" id="myTopnav">
            <ul>
                <li>
                    <a href=".">
                        <div class="icon_1"><i class="fa fa-home"></i><i class="fa fa-home"></i></div>
                        <div class="name"><span data-text="Home">Home</span></div>
                    </a>
                </li>
                <li>
                    <a href="about">
                        <div class="icon_1"><i class="fa fa-file"></i><i class="fa fa-file"></i></div>
                        <div class="name"><span data-text="About">About</span></div>
                    </a>
                </li>
                <li>
                    <a href="contactus">
                        <div class="icon_1"><i class="fa fa-envelope"></i><i class="fa fa-envelope"></i></div>
                        <div class="name"><span data-text="contact">contact</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon_1"><i class="fa fa-cogs"></i><i class="fa fa-cogs"></i></div>
                        <div class="name"><span data-text="Services">Services</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icon_1"><i class="fa fa-users"></i><i class="fa fa-users"></i></div>
                        <div class="name"><span data-text="Team">Team</span></div>
                    </a>
                </li>
                <!-- <a href="logout"><input class="botton1" type="button" value="sign out"></a> -->
                <li>
                    <a href="logout">
                        <div class="icon_1"><i class="fa fa-power-off"></i><i class="fa fa-power-off"></i></div>
                        <div class="name"><span data-text="Signout">Signout</span></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="user">
            <div class="greeting">
                Hello User <br>
                Good Morning
            </div>
            <div class="additional">
                Calender
                <h1 class="display-4"><span id="time"></span></h1>
            </div>
        </div>
        <div class="calender">
            <ul>
                <li>BUY  :<progress id = "buy" value="10" max="100"></progress></li>
                <li>SELL :<progress id = "sell" value="10" max="100"></progress></li>
                <li>HOLD :<progress id = "hold" value="10" max="100"></progress></li>
            </ul>
        </div>
        <div class="chart">
            <h3>
                <center>Perfomance</center>
            </h3>
            <input class="btn" type="button" value="SELL">
            <input class="btn" type="button" value="Buy">
            <canvas id="myChart"></canvas>
        </div>
        <div class="info">
            <ul>
                {% block content %}
                <li>PreviousClose:{{stock.last_open}}</li>
                <li>TodayOpen:{{stock.open}}</li>
                <li>TodayClose:{{stock.close}}</li>
                <li>Voulme:{{stock.volume}}</li>
                {% endblock %}
            </ul>

        </div>
        <form method="POST">
        <div class="company">
            <ul>
                {% csrf_token %}
                <li><a href="main" ><input type="submit" class ="even" name="company" value="Samsung Electronics"/></a></li>
                <li><a href="main" ><input type="submit" class = "odd" name="company" value="Wipro"/></a></li>
                <li><a href="main" ><input type="submit" class ="even" name="company" value="IBM"/></a></li>
                <li><a href="main" ><input type="submit" class = "odd" name="company" value="ICIC Bank"/></a></li>
                <li><a href="main" ><input type="submit" class ="even" name="company" value="Tata Steel"/></a></li>
                <li><a href="main" ><input type="submit" class = "odd" name="company" value="Infosys"/></a></li>
                <li><a href="main" ><input type="submit" class ="even" name="company" value="SBI"/></a></li>
                <li><a href="main" ><input type="submit" class = "odd" name="company" value="Reliance"/></a></li>
                <li><a href="main" ><input type="submit" class ="even" name="company" value="Amazon"/></a></li>
                <li><a href="main" ><input type="submit" class = "odd" name="company" value="Google"/></a></li>
            </ul>
    </div>            
    </form>

        <div class="News">
            latest news
        </div>
    </div>
    <script>
    var data = JSON.parse("{{data|escapejs}}");
    var myChart = new Chart(document.getElementById("myChart"), {
        type: "line",
        data: {
            labels: data["time"],
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "blue",
                borderColor: "rgb(23, 226, 33)",
                data: data["value"]
            }]
        },
        options: {
            title: {
                display: true,
                text: data["title"],
                position:"top",
                align: "center",
                font:{
                    size:100
                    // weight:30,
                },
            },
            legend: { display: false },
            scales: {
                yAxes: [{ ticks: { min: data["minval"], max: data["maxval"] } }],
            }
        }
    });

    var avg = (data["open"]+data["close"])/2;
    if (data["open"]>data["close"]) {
        document.getElementById("sell").value = avg*0.50;
    }
    if (data["open"]<data["close"]) {
        document.getElementById("buy").value = avg*0.40;
    }
    if ((data["open"]-data["close"]) < 30 &&  (data["open"]-data["close"]) > 0 ){
        document.getElementById("hold").value = avg*0.30;
    }

    </script>
</body>
</html>